*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
  font-size: large;
}

body {
  margin: 0;
  padding: 10px;
}

.output {
    grid-area: out;
    // justify-content: flex-end;
    // align-items: flex-end;
    text-align: right;
    color: white;
    background-color: black;
    height: 50px;
    font-size: xx-large;
    height: 75px;
}

#clear {
  grid-area: c;
}
#n1 {
  grid-area: n1;
}
#n2 {
  grid-area: n2;
}
#n3 {
  grid-area: n3;
}
#n4 {
  grid-area: n4;
}
#n5 {
  grid-area: n5;
}
#n6 {
  grid-area: n6;
}
#n7 {
  grid-area: n7;
}
#n8 {
  grid-area: n8;
}
#n9 {
  grid-area: n9;
}
#n10 {
  grid-area: n10;
}
#n11 {
  grid-area: n11;
}
#n12 {
  grid-area: n12;
}
#n13 {
  grid-area: n13;
}
#n14 {
  grid-area: n14;
}
#n15 {
  grid-area: n15;
}
#n16 {
  grid-area: n16;
  border-radius: 45px;
  text-align: left;
}
#n17 {
  grid-area: n17;
}
#n18 {
  grid-area: n18;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas: 
  "out out out out"
  "c n1 n2 n3"
  "n4 n5 n6 n7"
  "n8 n9 n10 n11"
  "n12 n13 n14 n15"
  "n16 n16 n17 n18";
  background-color: black;
  height: 100%;
  margin: 0px 425px
}

button {
  border-radius: 50%;
  background-color: rgb(50, 50, 50);
  color: white;
  border: 1px solid rgb(50, 50, 50);
  padding: 30px;
  margin: 5px;
}

.grey {
  background-color: grey;
  color: black;
}

.operator {
  background-color: orange;
  &--equal {
    background-color: orange;
  }
}

.history {
  color: grey;
  font-size: small;
  padding: 15px;
}

.result {
  font-size: x-large;
}







// .output{
//   // grid-area: out;
//   // grid-column: 1 / -1;
//   background-color: rgba(0, 0, 0, 0.75);
//   display: flex;
//   align-items: flex-end;
//   justify-content: space-around;
//   flex-direction: column;
//   padding: 10px;
//   word-wrap: break-word;
//   word-break: break-all;

// }

